<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="Content/css/styles.css">
    <title>Mad Libs!</title>
  </head>
  <body>
    <div class="container">
      <h3>Enter 3 lengths and see if they make a triangle.</h3>
      <form action="/result">
        <div class="form-group">
          <label for="length1">First length</label>
          <input class="form-control" id="length1" name="length1">
        </div>
        <div class="form-group">
          <label for="length2">Second length</label>
          <input class="form-control" id="length2" name="length2">
        </div>
        <div class="form-group">
          <label for="length3">Third length</label>
          <input class="form-control" id="length3" name="length3">
        </div>
        <button class="btn" type="submit">Show my triangle</button>
      </form>
    </div>
  </body>
</html>
